doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
      script(type="application/javascript" rel="script" src="../script/jquery-3.3.1.min.js")
      script(type="application/javascript" rel="script" src="../script/home.js")
  body
    block content
